html, body {
    margin: 0;
    padding: 0;
    font-family: cursive;

    p,
    h1,
    h2{color: rgb(31, 224, 31);
    text-align: center;}
    
  }
  #blow {
    position: absolute; /* Ensure the button can be positioned */
    top: 50%; /* Adjust as needed */
    left: 44%; /* Adjust as needed */
}
  canvas {
    display: block;
  
  }
  a:link{
    color:rgb(0, 0, 1)
  }
  a:hover{
    color:rgb(196, 113, 4);
  }
  
  a{
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  main{
    background-color: aqua;
    padding-top: 10%;
  }